<div class="todo-container">
    <h2>To-Do Listesi</h2>
    <!-- Yeni görev eklemek için input ve buton -->
    <input tyoe="text" [(ngModel)]="newTodo" placeholder="Yeni görev ekle" />
    <button (click)="addTodo(newTodo)">Add</button>
    <!-- Todo'ları listeleme -->
    <ul>
        <li *ngFor="let todo of todos; let i = index">
            <!-- Checkbox ekliyoruz ve tıklandığında ngModel ile todo.completed değeri güncellenecek -->
            <input type="checkbox" [(ngModel)]="todo.completed">
            <span [class.completed]="todo.completed">
                {{ todo.name }}
            </span>
            <!-- Sil butonu ekliyoruz ve tıklandığında deleteTodo fonksiyonu çağrılacak -->
            <button (click)="deleteTodo(i)">Delete</button>
        </li>
    </ul>
    <!-- Tamamlananları temizle butonu -->
    <button (click)="clearCompleted()">Clear Completed</button>
</div>